<header>
        <div class="container">
            <div class="intro-text">
                
                <div class="apresentacao">
                    <div class="img-topo" >
                        <img class="logo" src="src/app/global/img/logo-branca-sem-texto.png" >
                    </div>
                    <div>
                        <div class="linha-topo">
                            <div id="texto-topo" >1ª Igreja</div>
                            <div id="do" >do</div>
                            <div id="texto-topo" >Evangelho</div>
                        </div>
                        
                        <div class="intro-heading"> Quadrangular</div>
                        <div id="cidade" >Maringá</div>
                    </div>
                </div>
                
                <!--<div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>-->
                <a href="#eventos" class="page-scroll btn btn-xl">Saiba mais</a>
            </div>
        </div>
    </header>
