<section id="local" class="bg-light-gray" >

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contato</h2>
            </div>
        </div>   
    <div class="container">
          <div class="info">
            <div>Rua Líbero Badaró, 287</div>
            <div>Zona 7</div>
            <div>Cep: 87030-080</div>
            <div>Maringá - PR</div>
            <div>Telefone: (44) 3305-3452</div>
          </div>
        <div class="mapa"></div> 
    </div>
  
</section>
