<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">IEQ Maringá</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#nepal">Nepal</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#burkina">Burkina Faso</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#haiti">Haiti</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>
        <div class="container">
             <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Missões</h2>
                    <h3 class="section-subheading text-muted">Nós acreditamos e investimos em missões!</h3>
                </div>
            </div>
        </div>
</header>

<section id="nepal">
    <div class="container" >
        <div class="row" >
            <div class="col-md-6 text-center"></div>
            <div class="col-md-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rwF2KQQeC48" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section id="burkina">
    <div class="container" >
        <div class="row" >
            <div class="col-md-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hONOH0tkmIk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 text-center"></div>
        </div>
    </div>
</section>

<section id="haiti">
    <div class="container" >
        <div class="row" >
            <div class="col-md-6 text-center"></div>
            <div class="col-md-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R_OJJOcC00s" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>